$bg-image-url: url("../../../assets/home-page/background/bg-about-1.webp");
$bg-about-box-image-effect-url: url("../../../assets/home-page/background/bg-about-box-1.png");
$gradient-start: #0a0803;
$gradient-end: #4c5409;

.container {
  width: 100%;
  background-image: $bg-image-url;
  background-repeat: no-repeat;
  background-position: center, center;

  background-size: cover, cover; // 🔥 QUAN TRỌNG
  background-blend-mode: overlay;
}

.aboutBox {
  background-image: 
    // Lớp phủ màu xanh rêu (0.7 là độ trong suốt, bạn có thể chỉnh)

    linear-gradient(rgba(39, 49, 14, 0.7), rgba(39, 49, 14, 0.7)),
    $bg-about-box-image-effect-url;

  background-repeat: no-repeat;
  background-position: center, center;
  background-size:
    100% 100%,
    100% 100%;

  // Quan trọng: Dùng 'multiply' để màu xanh trộn sâu vào ảnh
  background-blend-mode: multiply;

  border: solid #202020 2px;
  border-radius: 48px;
}
